/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 25. 03. 2017
 Finish Date: 27. 03. 2017

*/


/* MOBILE MENU */
.uk-offcanvas ul{
    list-style-type: none;
    padding-top: 30px;
}
.uk-offcanvas ul li{
    padding: 10px 0;
}
.uk-offcanvas ul li a{
    font-size: 20px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.uk-offcanvas ul li a:hover{
    color: #f86227;
    text-decoration: none;
}
.uk-offcanvas ul li a i{
    margin-right: 5px;
    color: #f86227;
}
.uk-offcanvas h1{
    color: #fff; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: #f86227;
    padding-left: 10px;
}

/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

@import url("../fonts/DINPro-Bold.otf");

/* General */
*{
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Links */
a, a:visited{
    color: #036AD2;
    text-decoration: none;
}
body{
    font-family: "DIN Pro" , sans-serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Satisfy', cursive;
}
.top-header{
    padding: 10px 0 25px 0;
    background: #f6f6f6;
}
.top-header .contact-section{
    color: #434343; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
}
.top-header .contact-section a{
    color: #444444;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}
.top-header .contact-section a i{
    margin-right: 5px;
}
.top-header .contact-section a:hover{
    text-decoration: none;
    color:  #f86227;
}
.top-header .social-section{
    float: right;
    position: relative;
}
.top-header .social-section ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.top-header .social-section ul li{
    display: inline-block;
    margin-right: 10px;
}
.top-header .social-section ul li a{
    color: #fff;
    display: block;
}
.top-header .social-contact ul li a img{
    top: 0;
    position: relative;
}
.top-header .social-section ul li a:hover img{
    position: relative;
    top: -3px;
}
.top-header .social-section ul li .facebook{
    padding-left: 5px;
}
.header-nav{
    padding: 31px 0 31px 0;
    background: url("../images/nav-bg.png")no-repeat 0 0;
    position: relative;
    z-index: 999;
    top: -10px;
}
.header-nav .logo h1 a{
    color: #f86227; /* text color */
    font-size: 48px;
}
.header-nav .logo h1 a:hover{
    text-decoration: none;
}
.header-nav .nav-menu{
    float: right;
}
.header-nav .nav-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-nav .nav-menu ul li{
    display: inline-block;
    margin-left: 15px;
}
.header-nav .nav-menu ul li a{
    display: block;
    color: #444; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
    padding: 16px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header-nav .nav-menu ul li a:hover{
    background: url("../images/nav-link-hover.png")no-repeat 50% 50%;
    background-size: 100%;
    text-decoration: none;
    color: #fff;
}

/* Mobile Menu button */
.header-nav  .mobile-menu{
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 30px;
    display: none;
}
.header-nav .mobile-menu a{
    color: #444444;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.header-nav .mobile-menu a:hover{
    color: #f86227;
    text-decoration: none;
}


/* Slider */
.slider{
    margin-top: -35px;
    position: relative;
    max-height: 600px;
}
.slider .owl-carousel .item{
    max-height: 600px;
}
.slider .owl-carousel .item img{
    max-height: 600px;
    z-index: 1;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    background: none;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    margin-left: 20px;
    bottom: 50%;
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    right: 0;
    margin-right: 20px;
    bottom: 50%;
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background: none;
}
.slider .owl-carousel .item .caption{
    bottom: 200px;
    position: relative;
    max-width: 1176px;
    margin: 0 auto;
    background: url("../images/caption-bg.png") no-repeat;
    padding: 43px 43px;
    background-size: 100%;
}
.slider .owl-carousel .item .caption .table{
    display: table;
}
.slider .owl-carousel .item .caption .table .middle{
    display: table-cell;
    vertical-align: middle;
}
.slider .owl-carousel .item .caption .slogan-caption h2{
    color: #fff; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.slider .owl-carousel .item .caption .table .middle .details-btn-slider{
    margin-left: 70px;
}
.slider .owl-carousel .item .caption .table .middle .details-btn-slider a{
    display: block;
    padding: 30px 90px;
    background: url("../images/details-btn-slider.png") no-repeat;
    color: #f76327; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 22px;
    background-size: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: -12px;
}
.slider .owl-carousel .item .caption .table .middle .details-btn-slider a:hover{
    text-decoration: none;
    background: url("../images/order.png") 50% 50%;
    background-size: 100%;
    color: #fff;
    
}

/* OUR SERVICES */
.our-services{
    padding: 40px 0;
    background: url("../images/services-top-bg.png")no-repeat 0 0, transparent;
    background-size: 100%;
    position: relative;
    z-index: 9999;
    top: -20px;
}
.our-services .our-services-description{
    padding: 0 20px;
}
.our-services .our-services-title h4{
    color: #f76327; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 30px;
    background: url("../images/title-bg.png")no-repeat 47% 70px;
    padding: 40px 0;
}
.our-services .our-services-description h3{
    color: #f76327; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 30px;
    line-height: 1;
}
.our-services .our-services-description p{
    color: #434343; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
}
.order-this{
    margin: 0 auto;
    width: 227px;
}
.order-this .btn-order{
    text-align: center;
    display: block;
    padding: 30px 34px;
    color: #fff; /* text color */
    font-family: 'Satisfy', sans-serif;
    background: url("../images/order.png") no-repeat 50% 50%;
    font-size: 25px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

}
.order-this .btn-order:hover{
    text-decoration: none;
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
    transform: scaleX(1.1);
}


/*ABOU THEY */
.about-they{
    background: #f6f6f6 url("../images/aboout-they-bg.png") no-repeat 0 0;
    background-size: 100%;
    padding: 70px;
}
.about-they .title h3{
    padding: 50px;
    text-align: center;
    background: url("../images/about-they-title-bg.png")no-repeat 40% 80px;
    color: #fff; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 28px;
}
.about-they .paragraph-section{
    padding: 0 20px;
    color: #434343; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
}
.about-they .our-list ul{
    list-style-type: none;
    padding-top: 10px;
}
.about-they .our-list ul li{
    color: #434343; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
    padding: 9px 0;
}
.about-they .our-list ul li i{
    color: #f86328;
    margin-right: 10px;
}

/* They Products */
.they-products{
    background:  url("../images/they-products-bg.png") no-repeat 0 100%  #f6f6f6;
    background-size: 100% 90%;
    background-position-y: 10%;
    z-index: 9999;
    position: relative;
}
.they-products .title-section h3{
    color: #f76327; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
    background: url("../images/title-bg.png") no-repeat 47% 55px;
}
.they-products .they-products-box{
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 21px 170px 15px rgba(0,0,0,.14); /* drop shadow */
    -webkit-box-shadow: 0 21px 170px 15px rgba(0,0,0,.14); /* drop shadow */
    box-shadow: 0 21px 170px 15px rgba(0,0,0,.14); /* drop shadow */
    border: 8px solid #f76328;
    padding: 25px;
    margin-bottom: 30px;
}
.they-products .they-products-box .title-products{
    padding: 25px 30px 10px 30px;
}
.they-products .they-products-box .title-products h3{
    color: #f76327; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1;
}
.they-products .they-products-box .price-products{
    padding: 0 30px;
}
.they-products .they-products-box .price-products p{
    color: #434343; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 20px;
    text-align: center;
}
.they-products .they-products-box .link-products{
    padding: 0 20px;
}
.they-products .they-products-box .link-products .btn-see-products{
    color: #fff; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 25px;
    background: url("../images/order.png") no-repeat 50% 50%;
    background-size: 100%;
    padding: 32px 50px;
    display: block;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.they-products .they-products-box .link-products .btn-see-products:hover{
    text-decoration: none;
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
    transform: scaleX(1.1);
}


/* FOOTER */
.footer{
    background: url("../images/footer-bg.png")no-repeat 0 0 ;
    background-size: cover;
    padding: 50px 0;
    padding-bottom: 20px;
    position: relative;
    z-index: 999;
}
.footer .footer-box-left .table{
    display: table;
}
.footer .footer-box-left .table .middle{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
.footer .footer-box-left .call .table .middle a{
    color: #f7f7f7; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.footer .footer-box-left .call .table .middle a:hover{
    text-decoration: none;
    color: #f76327;
}
.footer .footer-box-left .social-contact ul{
    list-style-type: none;
    padding: 0;
    position: relative;
}
.footer .footer-box-left .social-contact ul li{
    display: inline-block;
    padding-right: 15px;
}
.footer .footer-box-left .social-contact ul li a:hover img{
    position: relative;
    margin-top: -5px;
}
.footer .footer-box-middle .footer-logo{
    padding-top: 30px;
}
.footer .footer-box-middle .footer-logo h1{
    color: #fff; /* text color */
    font-family: 'Satisfy', sans-serif;
    font-size: 58px;
    text-align: center;
    padding-left: 10px;
}
.footer .footer-box-right{
    float: right;
}
.footer .footer-box-right ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer .footer-box-right ul li{
    display: inline-block;
    padding-left: 35px;
}
.footer .footer-box-right ul li a{
    color: #f7f7f7; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.footer .footer-box-right ul li a:hover{
    text-decoration: none;
    color: #f76327;
}
.footer .footer-box-right p, .footer .footer-box-right p > a{
    color: #f7f7f7; /* text color */
    font-family: "DIN Pro" , sans-serif;
    font-size: 14px;
    text-align: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.footer .footer-box-right p > a:hover{
    text-decoration: none;
    color: #f76327;
}






/*Media Query*/
@media screen and (max-width: 2600px) and (min-width: 1641px){
    .about-they{
        padding-top: 160px;
    }

}
@media (max-width: 1640px){
    .about-they{
        padding-top: 70px;
    }
}
@media (max-width: 1225px){
    .slider .owl-carousel .item .caption{
        max-width: 700px;
        padding-top: 10px;
        background-size: 100%;
    }
    .slider .owl-carousel .item .caption .slogan-caption h2{
        font-size: 20px;
    }
    .slider .owl-carousel .item .caption .table .middle .details-btn-slider a{
        padding: 20px 50px;
    }
    .our-services {
        background: #fff;
    }
    .they-products .they-products-box .link-products .btn-see-products{
        padding: 32px 15px;
    }
    .they-products .they-products-box .link-products{
        padding: 0;
    }
}
@media (max-width: 1150px){
    .about-they{
        padding: 20px 0;
    }
    .about-they .title h3{
        background-position: 50% 80px;
    }
    .about-they .uk-width-medium-4-10, .about-they .uk-width-medium-6-10{
        width: 100%;
    }
}
@media (max-width: 1100px){
    .our-services{
        margin-top: -70px;
        padding: 0;
    }
}
@media (max-width: 1000px) {
    .slider .owl-carousel .item .caption{
        bottom:  100px;
    }
}
@media (max-width: 995px){
    .slider .owl-carousel .item .caption{
        bottom: 170px;
    }
}
@media (max-width: 980px){
    .footer .uk-width-medium-1-3{
        width: 100%;
    }
    .footer .footer-box-left{
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .footer .footer-box-left .table{
        max-width: 170px;
        margin: 0 auto;
    }
    .footer .footer-box-right{
        margin-top: 30px;
    }
    .footer .footer-box-right , .footer .footer-box-right p{
        float: none;
        text-align: center;
    }
    .footer .footer-box-right ul li:first-child{
        padding-left: 0;
    }

}
@media (max-width: 880px){
    .header-nav .nav-menu{
        display: none;
    }
    .header-nav .mobile-menu{
        display: block;
    }
    .about-they .title{
        margin-top: 80px;
    }
    .about-they .title h3{
        color: #f86328;
        background: url("../images/title-bg.png")no-repeat 50% 80px;
    }
    .about-they .paragraph-section{
        margin-top: 0 !important;
        text-align: center;
    }
    .about-they .foto img{
        display: block;
        margin: 0 auto;
    }

}
@media(max-width: 770px){
    .they-products .they-products-box .img-products img{
        display: block;
        margin: 0 auto;
    }
    .they-products .they-products-box .link-products .btn-see-products{
        background-size: contain;
    }
}
@media (max-width: 730px){
    .slider .owl-carousel .item .caption{
        max-width: 500px;
    }
    .slider .owl-carousel .item .caption .slogan-caption h2{
        font-size: 12px;
        line-height: 1;
    }
    .slider .owl-carousel .item .caption .table .middle .details-btn-slider a{
        padding: 10px 30px;
    }
    .slider .owl-carousel .item .caption{
        bottom: 100px;
    }
}
@media (max-width: 570px){
    .slider .owl-carousel .item .caption{
        bottom: 80px;
    }
}
@media (max-width: 510px) {
    .slider .owl-carousel .item .caption{
        background: none;
        bottom: 60px;
        margin-left: -17px;
    }
    .slider .owl-carousel .item .caption .slogan-caption{
        display: none;
    }
    .slider .owl-carousel .item .caption .table{
        display: block;
        max-width: 250px;
        margin: 0 auto;

    }
}
@media (max-width: 480px){
    .top-header .uk-width-1-2{
        width: 100%;
    }
    .top-header .contact-section{
        width: 180px;
        margin: 10px auto;
    }
    .top-header .social-section{
        width: 180px;
        margin: 15px auto;
        float: none;
        text-align: center;
    }
    .header-nav .logo h1 a{
        font-size: 30px !important;
    }
    .footer .footer-box-left .social-contact ul li{
        padding-right: 10px;
    }
    .top-header .contact-section{
        width: 190px;
        margin: 0 auto;
    }
    .footer .footer-box-middle .footer-logo h1{
        font-size: 50px;
        text-align: center;
    }
}


